.dashboard-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--accent-light-bg);
  padding: var(--space-2);
}

.dashboard-layout-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  background-color: white;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
}

.dashboard-layout-content {
  flex: 1;
  overflow-y: auto;
  padding: var(--space-7);
  box-sizing: border-box;
}
