
.export_options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:2vw;
}

.export-single_options{
    padding: 2vh;
    background-color: aliceblue;
    border-radius: 1vh;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5vw;

    cursor: pointer;
}

.export-single_options:hover{
    background-color: aqua;
}