.profile-button{
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 10vw;
    padding: 0.5vw;
    border-radius: 2vw;
}

.profile-button:hover{
    background-color: white;
}

.profil_user-name{
    font-size: 1vw;
    color: #364A9D;
    font-weight: 600;
    text-decoration: underline;
}