.profile-button{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 0.5vw;
    border-radius: 0.5vw;
    gap:0.5vw;
    color: #364A9D;
    background-color: white;
}

.profile-button:hover{
    color: white;
    text-decoration: underline;
    background-color:#dde4ff;
}

.profile-button-solo{
    border: 2px solid rgba(152, 173, 255, 0.1);    
}


.profil_user-name{
    max-width: 8vw;
    font-size: 1vw;
    font-weight: 600;
}

.profile_image_card{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 0.5vw;
}

