.viewer-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.pnlm-about-msg {
  /* removes Pannellum's about message */
  display: none !important;
}

/*Target*/

.target-icon {
  position: absolute;
  font-size: 24px;
  color: red;
  /* Ensure it appears above other elements */
  z-index: 1001;
  /* Center the icon on the exact coordinates */
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.5px;
  height: 32.5px;
}

.target-icon svg {
  width: 100%;
  height: 100%;
}

/*animation found at https://wpdean.com/css-ripple-effect/*/

.target-icon:before,
.target-icon:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 2px red;
  border-radius: 50%;
}

.target-icon:before {
  animation: ripple 2s linear infinite;
}

.target-icon:after {
  animation: ripple 2s 1s linear infinite;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

/*Hotspots*/


.custom-hotspot {
  height: 17.5px;
  width: 17.5px;
  background: #000;
  border-radius: 50%;
  border: 4px solid #F0F0F0;
  position: relative;
  transition: border-color 0.1s ease;
}

.custom-hotspot svg {
  height: 90%;
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.custom-hotspot:hover {
  box-shadow: 0 0 5px 1px rgba(240, 240, 240, 0.7);
}

.label-tooltip,
div.custom-tooltip span {
  position: absolute;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  cursor: default;
}

.label-tooltip {
  padding: 5px;
  border-radius: 5px;
}

div.custom-tooltip span {
  visibility: hidden;
  border-radius: 3px;
  max-width: 500px;
  width: auto;
  padding: 5px 10px;
  left: 50%;
  transform: translateX(-50%);
}


div.custom-tooltip:hover span {
  visibility: visible;
}

/* tooltip tip */
div.custom-tooltip:hover span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

div.custom-tooltip a {
  color: white;
  text-decoration: underline;
}

div.custom-tooltip a:visited {
  color: white;
}

div.custom-tooltip a:hover {
  color: white;
}

div.custom-tooltip a:active {
  color: white;
}