:root {
    --font-family: 'Inter', sans-serif;
    --font-size: 1rem;
    --font-weight-bold: bold;
    --transition-color: color 0.5s ease-in-out;
    --color-primary: #1c73fa;
    --color-secondary: #364A9D;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-light-gray: #d5d5d5;
    --color-check: #94d255;
    --color-warning: red;
}

.toolbar-container {
    position: fixed;
    display: flex;
    height: 60px;
    width: 100%;
    padding: 0 2vw;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-in-out;
    z-index: 500;
}
    .toolbar-container--edit-mode {
        background-color: #2d2d2d;
    }
        .toolbar-container--edit-mode:hover {
            background-color: #232425;
        }
    .toolbar-container--preview-mode {
        background-color: #f5f5f5e5;
    }
        .toolbar-container--preview-mode:hover {
            background-color: #f5f5f5;
        }

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;   
}

.toolbar__left {
    display: flex;
    align-items: center;
    gap: 6px;
}

.toolbar__logo {
    cursor: pointer;
    width: 40px;
    margin-right: 8px;
}

.toolbar__title-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 12px;
    font-size: 1.5em;
}

.toolbar__title-value {
    font-weight: 500;
}

.toolbar__title-extension {
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.toolbar__icon-button {
    position: relative;
    display: flex; align-items: center; justify-content: center;
    width: 40px;
    height: 40px;
    border: 0 none;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.toolbar__settings-icon,
.toolbar__export-icon {
    font-size: 2rem;
    color: var(--color-white);
}

.toolbar__icon-button .helper {
    padding: 8px 6px;
    width: 150px;
    background-color: var(--color-black);
    color: var(--color-white);
}

.toolbar__right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.toolbar__mode-switcher {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 12px;
    font-size: 0.9rem;
    color: inherit;
}

.toolbar__mode-switcher__label {
    font-size: 1.6em;
    font-weight: 500;
    cursor: pointer;
}

.toolbar-container--preview-mode .toolbar__title-value,
.toolbar-container--preview-mode .toolbar__title-extension,
.toolbar-container--preview-mode .toolbar__mode-switcher__label {
    color: var(--color-black);
}

.toolbar-container--edit-mode .toolbar__title-value,
.toolbar-container--edit-mode .toolbar__title-extension,
.toolbar-container--edit-mode .toolbar__mode-switcher__label {
    color: var(--color-white);
}

.toolbar-container--preview-mode .toolbar__icon-button {
    background-color: var(--color-primary);
}

.toolbar-container--edit-mode .toolbar__icon-button {
    background-color: var(--color-black);
}
 