.dashboard_page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F8F9FF;
}

.edit-activity-content-container{
    width: 94vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-activity-main-content_top{
    background-color: white;
    width: 92vw;
    height: 8vh;
    padding: 1vw;

    display: grid;
    grid-template-columns: 7fr 1fr;
    column-gap: 3rem;
}

.actitivity-title{
    font-size: 1.2vw;
    font-weight: 700;
    color: #364A9D;
    width: 30vw;
    padding: 1vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.close-button{
    cursor: pointer;
    font-weight: 700;
    background-color: red;
    color: white;
    width: 8vw;
    height: 6.2vh;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1vh;
    transition: background-color 0.1s ease-in-out ;
}

.close-button:hover{
    background-color: rgb(156, 0, 0);
}

.edit-activity-main-content{
    font-family: 'Inter' sans-serif;
}

.edit-activity-input_field{
    all: unset;
    background-color: rgba(217, 217, 217, 0.15);
    padding: 1vh;

}
