.activity_creation_background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f8f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* behind everything else */
  z-index: 1000;
}


.activity_creation_content {
  background-color: #f8f9ff;
  width: 100%;
  height: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.activity_creation_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vw;
    gap: 20vw;
}

.icon_route-back_container{
    color: #364a9d;
    width: 10vw;
}

.icon_route-back{
    width: 3.5vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(42, 64, 155, 0.02);
    cursor: pointer;
}

.icon_route-back:hover{
    color: white;
    background-color: #364a9d;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
}

.activity_cration_top-middle{
    /* background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.04); */
    /* align-self: flex-start; */
    width: 30vw;
    height: 4.5vw;
    display: flex;
    font-weight: 900;
    font-size:1.6vw;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.activity_creation-main_content{
    display: flex;
    flex-direction: row ;
    gap: 3vw;
    width: 90vw;
    height: 70vh;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.main-left{
    width: 30vw;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    background-color: white;
    border-radius: 2vw;
    padding: 1vw;
}

.main-middle{
    width: 22vw;
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 1vw;
}

.main-right{
    width: 22;
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 1vw;
}

.section_gap{
    height: 5vh;
}

.section-card{
    width: 28vw;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}


.section-header{
    font-size: 0.95vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    color:#444;
    padding-left: 0.7vw;
}


.text_field-title{
    width: 28vw;
    border-radius: 5px;
    background-color: rgba(247, 247, 247, 0.6);
    height: 3vw;
    border: 4px solid rgba(217, 217, 217, 0.25);
    padding: 5px;
    transition: border-color 0.2s ease-in-out;
}
.text_field-title::placeholder{
    opacity: 15%;
}
.text_field-title:focus{
    border: 4px solid rgba(217, 217, 217, 1);
}

.text_field-tag{
    width: 20vw;
    border-radius: 5px;
    background-color: rgba(247, 247, 247, 0.6);
    height: 3vw;
    border: 4px solid rgba(217, 217, 217, 0.25);
    padding: 5px;
    transition: border-color 0.2s ease-in-out;
}
.text_field-tag::placeholder{
    opacity: 15%;
}
.text_field-tag:focus{
    border: 4px solid rgba(217, 217, 217, 1);
}

.text_field-descript{
    all:unset;
    width: 27vw;
    border-radius: 5px;
    background-color: rgba(247, 247, 247, 0.6);
    height: 10vh;
    border: 4px solid rgba(217, 217, 217, 0.25);
    padding: 5px;
    transition: border-color 0.2s ease-in-out;
}
.text_field-descript::placeholder{
    opacity: 15%;
}
.text_field-descript:focus{
    border: 4px solid rgba(217, 217, 217, 1);
}

.text_field-task{
    width: 21.8vw;
    border-radius: 5px;
    background-color: #E8EBF7;
    height: 3.5vw;
    border: 4px solid white;
    padding: 0.5vw;
    transition: border-color 0.2s ease-in-out;
}
.text_field-task:focus{
    border: 4px solid rgba(217, 217, 217, 0.4);
}
.text_field-task::placeholder{
    opacity: 50%;
}

.add-task_field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
}

.add_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.04);
    height: 3.2vw;
    width: 3.2vw;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.add_button:hover{
    color: white;
    background-color: #364a9d;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.09);
}

.type_task_field{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.radio_type{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    font-weight: 100;
    font-size: 2vh;
}

.type_radio{
    width: 1.5vw;
    height: 1.5vw;
}

.tag-chips_group{
    width: 20vw;
    display: flex;
    flex-direction: row;
    overflow-x:auto;
    flex-wrap: wrap;
    gap: 0.5VW;
}

.task-chips_group{
    width: 25vw;
    height: 42.5vh;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:hidden;
    background-color: white;
    border-radius: 1vw;
    gap: 0.5VW;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.06);
}

.remove_line-icon{
    color: #4b67d6;
    cursor: pointer;
}

.remove_line-icon:hover{
    color: #364a9d;
}

.taks_number{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 0.8vw;
    font-weight: 600;
    background-color: #364a9d;
    width: 1.5vw;
    height: 1.5vw;
}

.task-chip{
    width: 21vw;
    height: 8vh;

    padding-left: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5vw;
    gap:1vw;

    font-weight: 600;

    background-color: rgba(241, 242, 255, 0.45);
    transition: background-color 0.1s ease-in-out;
}
.task-chip:hover{
    background-color: rgba(241, 242, 255, 0.75);
}

.task-chip-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1vh;
}

.task_card{
    width: 24vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 2vw;
    gap:0.5vw;
}

.delete_task{
    cursor: pointer;
    background-color: #F1F2FF;
    width: 3.3vw;
    height: 8vh;
    
    border-bottom-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

.delete_task:hover{
    color: white;
    background-color: #364a9d;
}

.toggle_authorise{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 2vw;
    gap:0.2vw;
    font-size: 0.95vw;
    font-weight: 600;
}

.add_participants_button{
    all:unset;
    background-color: #c3cfff;
    color: #364a9d;
    padding: 1.2vw;
    font-weight: 700;
    font-size: larger;
    border-radius: 3vw;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.add_participants_button:hover{
    background-color: #364a9d;
    color: white;
}

.activity_type_toggle{
    width: 24vw;
    height: 3.5vw;
    display: flex;
    font-weight: 700;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3vw;
    background-color: #E8EBF7;
    padding: 0vw;
    cursor: pointer;
}

.activity_toggle-button_selected{
    border-radius: 3vw;
    height: 3.5vw;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #364a9d;
    transition: background-color 0.2s ease-in;
}

.activity_toggle-button{
    height: 3.5vw;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(54, 74, 157, 0.25);
}

.participant_numbers_board{
    width: 25vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:0.5vw;
    background-color: white;
    border-radius: 1vw;
}

.numbers_board_container{
    display: flex;
    flex-direction: row;
    width: 11vw;
}

.board_icon{
    width: 3.5vw;
    height: 3.5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #364a9d;
    border-radius: 50%;
    background-color: rgba(232, 235, 247, 0.4);
}

.board_text{
    width: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board_mini_title{
    font-weight: 100;
    font-size: 0.8vw;
}

.numbers_board_separator{
    width: 1px;
    height: 3.5vw;
    background-color: #F1F2FF;
}

.participants_list-container{
    background-color: white;
    border-radius: 4vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vh;

    width : 24vw;
    height: 43vh;
    padding: 2vh;
}

.error_board{
    font-size: large;
    font-weight: 800;
}

.participants_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1ch;
    height: 35vh;
    width: 25vw;
    overflow: hidden;
}

.participant_card{
    background-color: rgba(241, 242, 255, 0.45);
    height: 7vh;
    width: 22vw;

    font-weight: 600;
    border-radius: 1vh;
    padding-left: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5.3vw;
}

.delete_participant{
    cursor: pointer;
    background-color: #F1F2FF;
    height: 7vh;
    width: 3vw;
    border-bottom-right-radius: 1vh;
    border-top-right-radius: 1vh;
    border-bottom-left-radius: 1vh;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}
.delete_participant:hover{
    background-color: #364a9d;
    color: white;
    height: 7vh;
    width: 3vw;
}


.participants_bottom_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1vw;
}

.add_particip{
    cursor: pointer;
    color: white;
    background-color: #364a9d;
    width: 2vw;
    height: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.remove_particip{
    cursor: pointer;
    color: #364a9d;
    background-color: #F1F2FF;
    width: 2vw;
    height: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.view_all-bitton{
    font-weight: 600;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:0.2vw;
}


.participants_group_top{
    font-size: 0.9vw;

    display: flex;
    flex-direction: row;
    width: 21vw;
    justify-content: space-between;
    align-items: center;

}

.enter_number_particip{
    width: 4vw;
    padding: 1vh;
    background-color: rgba(241, 242, 255, 0.45);
    border:4px solid #F1F2FF;
    border-radius: 0.4vw;
    transition: border 0.2s ease-in-out;
}

.enter_number_particip:focus{
    border:4px solid #c3cfff;
}